@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
}

body {
  background: #ffffff !important;
  color: #171717;
  min-height: 100vh;
}